<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>衣品天成旗舰店</string>
		<key>localInterfaceUrl</key>
		<string></string>
		<key>sClickUrl</key>
		<string>http://guang.taobao.com/activity/index.htm?spm=1.1000386.1000263.1.mCb5bX&amp;id=78&amp;sort=1&amp;ad_id=&amp;am_id=130106340152e25cc872&amp;cm_id=&amp;pm_id=</string>
		<key>remoteImageUrl</key>
		<string>http://img01.taobaocdn.com/tps/i1/T1zvd6FcVXXXcr_tT7-490-170.jpg</string>
		<key>localImageName</key>
		<string></string>
		<key>isLocalJump</key>
		<false/>
		<key>isLocalImage</key>
		<false/>
	</dict>
	<dict>
		<key>title</key>
		<string>韩都衣舍旗舰店</string>
		<key>localInterfaceUrl</key>
		<string></string>
		<key>sClickUrl</key>
		<string>http://click.mz.simba.taobao.com/ecpm?spm=1.1000386.1000263.2.mCb5bX&amp;e=%2FkXSyoco3OF2glRjrcmk6oYirWh7zQeIy%2F37nkWJFEPcJc4GW1xuDKNPzjDOtJe0k2lgrWwhnQ2jbjoYfQbHzbzI2eGJnMPZ0nI99kpswyRJRquFCodOOaENM63jdj3%2BXDsSBciuC6ZIKDd20s3nMcE11qDuYyhdhwPR7TFNqQQ6Y1wbt489aXw5hl1LcVl1&amp;u=http%3A%2F%2Fmfsj1908.tmall.com&amp;k=193</string>
		<key>remoteImageUrl</key>
		<string>http://i.mmcdn.cn/simba/img/T164x1FdxaXXb1upjX.jpg</string>
		<key>localImageName</key>
		<string></string>
		<key>isLocalJump</key>
		<false/>
		<key>isLocalImage</key>
		<false/>
	</dict>
	<dict>
		<key>title</key>
		<string>唐狮</string>
		<key>localInterfaceUrl</key>
		<string></string>
		<key>sClickUrl</key>
		<string>http://click.mz.simba.taobao.com/ecpm?spm=1.1000386.1000263.3.mCb5bX&amp;e=5O7RJhvUCCB2glRjrcmk6oYirWh7zQeIy%2F37nkWJFENdQU5d4R3EEYFAWvqmwBNyk2lgrWwhnQ0o2dWZfq94zFG%2Fri0D141w0nI99kpswyRJRquFCodOOU64%2Fd7GomyhxYd3KU67OOBatckU5hkmdlvtsTU2jWbZ1noYeNUte4QNbzWAvTHdhNuiXj1h%2BjlY&amp;u=http%3A%2F%2Fmgbk.tmall.com&amp;k=193</string>
		<key>remoteImageUrl</key>
		<string>http://i.mmcdn.cn/simba/img/T10J0ZFjdhXXb1upjX.jpg</string>
		<key>localImageName</key>
		<string></string>
		<key>isLocalJump</key>
		<false/>
		<key>isLocalImage</key>
		<false/>
	</dict>
	<dict>
		<key>title</key>
		<string>andostore安都官方旗舰店</string>
		<key>localInterfaceUrl</key>
		<string></string>
		<key>sClickUrl</key>
		<string>http://click.mz.simba.taobao.com/ecpm?spm=1.1000386.1000263.4.mCb5bX&amp;e=XtCgjOO63wh2glRjrcmk6oYirWh7zQeIy%2F37nkWJFEOsbVxyYyoUDVHfnGYYSVCxk2lgrWwhnQ0ihocOC%2BCLjkMGL4xkPaib0nI99kpswyRJRquFCodOOY7oRMw6hhSgtlJyoshOtDByTLh5wf%2FovypZrAEoJ2VyZAIyosCMs40HxFdma2QDQwq5Kr5i4QTZ&amp;u=http%3A%2F%2Fniuer.tmall.com&amp;k=193</string>
		<key>remoteImageUrl</key>
		<string>http://img03.taobaocdn.com/tps/i3/T1zSJ3Fn8cXXcr_tT7-490-170.jpg</string>
		<key>localImageName</key>
		<string></string>
		<key>isLocalJump</key>
		<false/>
		<key>isLocalImage</key>
		<false/>
	</dict>
</array>
</plist>
