<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>localImage</key>
		<string>shop9.jpg</string>
		<key>sClick</key>
		<string>http://yaojingdekoudai.m.tmall.com/</string>
		<key>shopName</key>
		<string>妖精的口袋旗舰店</string>
	</dict>
	<dict>
		<key>localImage</key>
		<string>shop13.jpg</string>
		<key>sClick</key>
		<string>http://pb89.m.tmall.com/</string>
		<key>shopName</key>
		<string>太平鸟官方旗舰店 </string>
	</dict>
	<dict>
		<key>localImage</key>
		<string>shop12.jpg</string>
		<key>sClick</key>
		<string>http://qiushuiyiren.m.tmall.com/</string>
		<key>shopName</key>
		<string>秋水伊人官方旗舰店</string>
	</dict>
	<dict>
		<key>localImage</key>
		<string>shop11.jpg</string>
		<key>sClick</key>
		<string>http://inman.m.tmall.com/</string>
		<key>shopName</key>
		<string>茵曼旗舰店</string>
	</dict>
	<dict>
		<key>localImage</key>
		<string>shop10.jpg</string>
		<key>sClick</key>
		<string>http://ripfs.m.tmall.com/</string>
		<key>shopName</key>
		<string>裂帛服饰旗舰店</string>
	</dict>
	<dict>
		<key>localImage</key>
		<string>shop0.jpg</string>
		<key>sClick</key>
		<string>http://etam.m.tmall.com/?</string>
		<key>shopName</key>
		<string>艾格官方旗舰店</string>
	</dict>
	<dict>
		<key>localImage</key>
		<string>shop1.jpg</string>
		<key>sClick</key>
		<string>http://handuyishe.m.tmall.com/</string>
		<key>shopName</key>
		<string>韩都衣社</string>
	</dict>
	<dict>
		<key>localImage</key>
		<string>shop2.jpg</string>
		<key>sClick</key>
		<string>http://goelia.m.tmall.com/</string>
		<key>shopName</key>
		<string>歌莉娅官方旗舰店</string>
	</dict>
	<dict>
		<key>localImage</key>
		<string>shop8.jpg</string>
		<key>sClick</key>
		<string>http://tonlion.m.tmall.com/</string>
		<key>shopName</key>
		<string>唐狮官方旗舰店</string>
	</dict>
	<dict>
		<key>localImage</key>
		<string>shop7.jpg</string>
		<key>sClick</key>
		<string>http://kisscat.m.tmall.com/</string>
		<key>shopName</key>
		<string>kisscat旗舰店 </string>
	</dict>
	<dict>
		<key>localImage</key>
		<string>shop6.jpg</string>
		<key>sClick</key>
		<string>http://aimer.m.tmall.com/</string>
		<key>shopName</key>
		<string>爱慕官方旗舰店</string>
	</dict>
	<dict>
		<key>localImage</key>
		<string>shop5.jpg</string>
		<key>sClick</key>
		<string>http://joeone.m.tmall.com/</string>
		<key>shopName</key>
		<string>九牧王官方旗舰</string>
	</dict>
	<dict>
		<key>localImage</key>
		<string>shop4.jpg</string>
		<key>sClick</key>
		<string>http://gxg.m.tmall.com/</string>
		<key>shopName</key>
		<string>GXG官方旗舰店</string>
	</dict>
	<dict>
		<key>localImage</key>
		<string>shop3.jpg</string>
		<key>sClick</key>
		<string>http://metersbonwe.m.tmall.com/</string>
		<key>shopName</key>
		<string>美特斯邦威官方网店</string>
	</dict>
	<dict>
		<key>localImage</key>
		<string>shop23.jpg</string>
		<key>sClick</key>
		<string>http://septwolves.m.tmall.com/</string>
		<key>shopName</key>
		<string>七匹狼</string>
	</dict>
	<dict>
		<key>localImage</key>
		<string>shop22.jpg</string>
		<key>sClick</key>
		<string>http://tedelon.m.tmall.com/</string>
		<key>shopName</key>
		<string>太子龙</string>
	</dict>
	<dict>
		<key>localImage</key>
		<string>shop21.jpg</string>
		<key>sClick</key>
		<string>http://luotuo.m.tmall.com/</string>
		<key>shopName</key>
		<string>骆驼</string>
	</dict>
	<dict>
		<key>localImage</key>
		<string>shop20.jpg</string>
		<key>sClick</key>
		<string>http://playboynanzhuang.m.tmall.com/</string>
		<key>shopName</key>
		<string>playboy男装旗舰店</string>
	</dict>
	<dict>
		<key>localImage</key>
		<string>shop19.jpg</string>
		<key>sClick</key>
		<string>http://skomart.m.tmall.com/</string>
		<key>shopName</key>
		<string>名鞋库官方旗舰店</string>
	</dict>
	<dict>
		<key>localImage</key>
		<string>shop18.jpg</string>
		<key>sClick</key>
		<string>http://hongdougf.m.tmall.com/</string>
		<key>shopName</key>
		<string>红豆</string>
	</dict>
	<dict>
		<key>localImage</key>
		<string>shop17.jpg</string>
		<key>sClick</key>
		<string>http://seasonwind.m.tmall.com/</string>
		<key>shopName</key>
		<string>季候风官方旗舰店</string>
	</dict>
	<dict>
		<key>localImage</key>
		<string>shop14.jpg</string>
		<key>sClick</key>
		<string>http://shiyuemami.m.tmall.com/</string>
		<key>shopName</key>
		<string>十月妈咪旗舰店</string>
	</dict>
</array>
</plist>
